<div class="header">

</div>
<div class="fluid-container ">
<div class="row">
  <h1 style="text-align: center; color: white;"> Meme Template</h1>
  <br>


  <div class="col-lg-12 col-md-12 header">
    <div class="container" id="imgDiv" >

    </div>
    <br>
    <br>
    <div class="formDiv">
      <div class="form-group ">
        <!-- <label for="template" class="text-white">Choose Meme Template</label> -->
        <select (change)="onSelectTemplate($event)"  class="dropdown-primary form-control" name="templateName" id="template" required>
          <option value="" selected disabled>Select Template</option>
          <option *ngFor="let i of allTemplate" [value]="i.name">
            {{i.name}}
          </option>
        </select>
      </div>
      <br>
      <div class="centerButton">
        <a href="" download="meme-template" class="btn btn-outline-light" id="downloadButton" >Download Template</a>
        <!-- <button type="button"  id="downloadButton" class="btn btn-outline-light">Download Template</button> -->
      </div>

    </div>

  </div>
</div>
</div>
<br>
